@import url("https://cdn.brand.illinois.edu/illinois.css");
.ck-content {
  p, caption, blockquote, dd, dt {
    font: 400 1.125rem/1.667rem var(--il-font-sans);
    color: var(--ilw-color--text);
  }

  td, th {
    font: 400 1.125rem/1.667rem var(--il-font-sans);
    color: var(--ilw-color--text);
  }

  pre {
    color: var(--ilw-color--text);
  }

  b, strong {
    font-weight: 700;
  }

  i, em {
    font-style: italic;
  }

  a {
    color: var(--ilw-color--link);
    text-decoration: underline;
    cursor: pointer;
  }

  a:visited {
    color: var(--ilw-color--link-visited);
  }

  a:hover {
    color: var(--ilw-color--link-hover);
  }

  a:focus {
    background-color: var(--ilw-color--focus--background);
    color: var(--ilw-color--focus--text);
    outline-color: var(--ilw-color--focus--outline);
  }

  h1, h2, h3,
  h4, h5,
  h6, p.ilw-heading {
    display: block;
    color: inherit;
    line-height: 1.2;
    font-style: normal;
    font-weight: 700;
    font-family: var(--il-font-sans);
    color: var(--ilw-color--heading);
    margin-top: 1.8rem;
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.875rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
    font-family: var(--il-font-heading);
  }

  h2 {
    font-size: 2.188rem;
    line-height: 2.688rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
  }

  h3 {
    font-size: 1.813rem;
    line-height: 2.188rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
  }

  h4, p.ilw-heading {
    font-size: 1.563rem;
    line-height: 1.813rem;
  }

  h5 {
    font-size: 1.313rem;
    line-height: 1.75rem;
  }

  h6 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  h4, h5, h6, p.ilw-heading {
    margin-top: 1.3125rem;
    margin-bottom: 0rem;
  }

  ul, ol {
    margin-top: 1.2rem;
    margin-bottom: 0;
  }

  li {
    font: 400 1.125rem/1.667 var(--il-font-sans);
    color: var(--ilw-color--text);
  }
  ol, ul, table {
    font-family: var(--il-font-sans);
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--il-blue);
  }
  hr{
    background: var(--il-industrial-blue);
  }
  :root {
    --ilw-button--background-color: white;
    --ilw-button--foreground-color: var(--il-blue);
    --ilw-button--border-color: var(--il-blue);
    --ilw-button--focused-background-color: var(--il-blue);
    --ilw-button--focused-foreground-color: white;
    --ilw-button--focused-border-color: var(--il-blue);
    --ilw-button--active-color: white;
    --ilw-button--active-background-color: var(--il-orange);
    --ilw-button--active-border-color: var(--il-blue);
  }

  .ilw-theme-orange {
    --ilw-button--background-color: white;
    --ilw-button--foreground-color: var(--il-orange);
    --ilw-button--border-color: var(--il-orange);
    --ilw-button--focused-background-color: var(--il-orange);
    --ilw-button--focused-foreground-color: white;
    --ilw-button--focused-border-color: var(--il-orange);
  }

  .ilw-theme-orange-1 {
    --ilw-button--background-color: var(--il-orange);
    --ilw-button--foreground-color: white;
    --ilw-button--border-color: var(--il-orange);
  }

  .ilw-theme-blue-1 {
    --ilw-button--background-color: var(--il-blue);
    --ilw-button--foreground-color: white;
    --ilw-button--border-color: var(--il-blue);
  }

  .ilw-theme-orange-2 {
    --ilw-button--background-color: var(--il-orange);
    --ilw-button--foreground-color: white;
    --ilw-button--border-color: white;
  }

  .ilw-theme-blue-2 {
    --ilw-button--background-color: var(--il-blue);
    --ilw-button--foreground-color: white;
    --ilw-button--border-color: white;
  }

  .ilw-theme-orange, .ilw-theme-orange-1, .ilw-theme-orange-2 {
    --ilw-button--active-background-color: var(--il-blue);
    --ilw-button--active-border-color: var(--il-orange);
  }

  .ilw-theme-orange-1, .ilw-theme-orange-2 {
    --ilw-button--focused-background-color: white;
    --ilw-button--focused-foreground-color: var(--il-orange);
    --ilw-button--focused-border-color: var(--il-orange);
  }

  .ilw-theme-blue-1, .ilw-theme-blue-2 {
    --ilw-button--focused-background-color: white;
    --ilw-button--focused-foreground-color: var(--il-blue);
    --ilw-button--focused-border-color: var(--il-blue);
  }

  a.ilw-button, button.ilw-button, ul.ilw-buttons a, ul.ilw-buttons button {
    background-color: var(--ilw-button--background-color);
    color: var(--ilw-button--foreground-color);
    border: 2px solid var(--ilw-button--border-color);
    font: 700 1.188rem / 1.25rem var(--il-font-sans);
    display: inline-block;
    margin: 6px 0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25em;
    letter-spacing: .01em;
    transition: background-color 0.3s;
    cursor: pointer;

    &:visited {
      outline: 0;
      background-color: var(--ilw-button--background-color);
      color: var(--ilw-button--foreground-color);
      border: 2px solid var(--ilw-button--border-color);
    }

    &:hover {
      outline: 0;
      background-color: var(--ilw-button--focused-background-color);
      color: var(--ilw-button--focused-foreground-color);
      border-color: var(--ilw-button--focused-border-color);
      text-decoration: underline;
    }
    &:focus {
      background-color: var(--ilw-link--focus-background-color);
      color: var(--ilw-link--focus-color);
      border-color: var(--ilw-link--focus-color);
      text-decoration: underline;
      outline: var(--ilw-link--focus-outline);
    }
    &:active {
      background-color: var(--ilw-button--active-background-color);
      color: var(--ilw-button--active-color);
      border-color: var(--ilw-button--active-border-color);
      outline: solid var(--ilw-button--active-border-color) 2px;
    }
  }


  .il-button {
    --color-primary: white;
    --color-secondary: var(--il-blue);

    background-color: var(--il-button-background-color);
    color: var(--il-button-foreground-color);
    display: inline-block;
    margin: 6px 0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25em;
    border: 2px solid var(--il-button-border-color);
    font: 700 20px var(--il-font-sans);
    letter-spacing: .01em;
    transition: background-color 0.3s;
    cursor: pointer;

    &:visited {
      outline: 0;
      background-color: var(--il-button-background-color);
      color: var(--il-button-foreground-color);
      border: 2px solid var(--il-button-border-color);
    }

    &:hover,
    &:focus {
      outline: 0;
      background-color: var(--il-focused-button-background-color);
      color: var(--il-focused-button-foreground-color);
      border-color: var(--il-focused-button-border-color);
    }

    &.il-white-blue {
      --il-button-background-color: white;
      --il-button-foreground-color: var(--il-blue);
      --il-button-border-color: var(--il-blue);
      --il-focused-button-background-color: var(--il-blue);
      --il-focused-button-foreground-color: white;
      --il-focused-button-border-color: var(--il-blue);
    }

    &.il-white-orange {
      color: var(--il-orange) !important;
      --il-button-background-color: white !important;
      --il-button-foreground-color: var(--il-orange) !important;
      --il-button-border-color: var(--il-orange) !important;
      --il-focused-button-background-color: var(--il-orange) !important;
      --il-focused-button-foreground-color: white !important;
      --il-focused-button-border-color: var(--il-orange) !important;
      &:hover,
      &:focus {
        color: white !important;
        --il-focused-button-background-color: var(--il-orange) !important;
        --il-focused-button-foreground-color: white !important;
        --il-focused-button-border-color: var(--il-orange) !important;
      }
    }

    &.il-blue {
      color: white !important;
      --il-button-background-color: var(--il-blue) !important;
      --il-button-foreground-color: white !important;
      --il-button-border-color: var(--il-blue) !important;
      --il-focused-button-background-color: white !important;
      --il-focused-button-foreground-color: var(--il-blue) !important;
      --il-focused-button-border-color: var(--il-blue)!important;

      &:hover,
      &:focus {
        color: var(--il-blue) !important;
        --il-focused-button-background-color: white !important;
        --il-focused-button-foreground-color: var(--il-blue) !important;
        --il-focused-button-border-color: var(--il-blue) !important;
      }
    }

    &.il-orange {
      color: white !important;
      --il-button-background-color: var(--il-orange) !important;
      --il-button-foreground-color: white !important;
      --il-button-border-color: var(--il-orange) !important;
      --il-focused-button-background-color: white !important;
      --il-focused-button-foreground-color: var(--il-orange) !important;
      --il-focused-button-border-color: var(--il-orange) !important;

      &:hover,
      &:focus {
        color: var(--il-orange) !important;
        --il-focused-button-background-color: white !important;
        --il-focused-button-foreground-color: var(--il-orange) !important;
        --il-focused-button-border-color: var(--il-orange) !important;
      }
    }
  }
/* Set image size to match image style*/
  .drupal-media {
    img{
      min-width: inherit !important;
    }
  }

  /* Override max-width for original size images */
  .align-left,
  .align-right {
    &.media--view-mode-original-size{
      max-width: none !important;
    }
  }
}
