.paragraph--type--cards {
  ilw-grid {
    margin: 0 auto;
  }
  ilw-card {
    max-width: 400px;
    margin: 0 auto;
    h3, p {
      font-family: var(--ilw-card--font);
    }
  }
}

ilw-columns {
  ilw-grid[width="page"] {/*this overrides the cards width to be full width when next to the sidebar*/
    --ilw-margin--side: 0;
  }
}

